* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  
:root {
  --color-dark: #131c21;
  --color-light: #fafbfd;
  --light-gray: rgb(248, 248, 248);
  --green-success: #198754;
  --blue-scrollbar: #0d6dfd93;
  --card-shadow: rgba(0,0,0,.075);
}
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin:0;
}
input[type=number] {
  -moz-appearance: textfield;
}
footer {
  font-size: 12px;
  height: 20px;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: monospace;
  font-weight: 700;
}
.btnCalcular {
  flex-grow: 1;
  border-bottom-left-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
  margin: 1rem !important;
}

/* QUOTAS */
.interestInput {
  min-width: 95px !important;
  padding: 0 70px;
  flex-grow: 1;
}
.list-group-item {
  flex-wrap: wrap;
}
.scrollarea {
  overflow-y: scroll;
  height: 850px;
}
.scrollarea::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}
.scrollarea::-webkit-scrollbar-track {
  background-color: var(--light-gray);
}
.scrollarea::-webkit-scrollbar-thumb {
  background-color: var(--blue-scrollbar);
  border-radius: 10px;
}

/* CARDS */
#cardsContainer {
  overflow-x: scroll;
}
#cardsContainer::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}
#cardsContainer::-webkit-scrollbar-track {
  background-color: var(--light-gray);
}
#cardsContainer::-webkit-scrollbar-thumb {
  background-color: var(--blue-scrollbar);
  border-radius: 10px;
}
.creditCard {
  width: 125px;
  height: 140px;
}
.creditCard:hover {
  box-shadow: 0 .125rem .25rem var(--card-shadow)!important;
  cursor: pointer;
}
.creditCardImg {
  width: 65px;
  height: 45px;
}
.creditCardImg > img {
  object-fit: contain;
}
.credit-card-radio:checked + .credit-card-label > .creditCard {
  border: 1px solid var(--green-success) !important;
}

/* MEDIA QUERIES */
@media (min-width: 320px) {
  .list-group-item {
    flex-wrap: nowrap;
  }
  .interestInput {
    width: 35% !important;
    max-width: 95px !important;
    flex-grow: 0;
    padding: 0;
  }
}

@media (min-width: 360px) {
  .btnCalcular {
    flex-grow: 0;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    margin: 0 !important;
  }
}

@media (min-width: 768px) {    
  #cardsContainer {
    overflow-x: hidden;
  }
}