* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

:root {
    --color-dark: #131c21;
    --color-light: #fafbfd;

}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin:0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}








footer {
  font-size: 12px;
  height: 20px;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: monospace;
  font-weight: 700;
}

.interestInput {
  min-width: 95px !important;
  padding: 0 70px;
  flex-grow: 1;
}

/* .InputArticleContainer {
  width: 270px !important;
} */



.list-group-item {
  flex-wrap: wrap;
}

#containerCards {
  overflow-x: scroll;
}

.scrollarea {
  overflow-y: scroll;
  height: 850px;
}
.scrollarea::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}

.scrollarea::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollarea::-webkit-scrollbar-thumb {
  background-color: #0d6dfd93;
  border-radius: 10px;
}











#containerCards::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}

#containerCards::-webkit-scrollbar-track {
  background-color: transparent;
}

#containerCards::-webkit-scrollbar-thumb {
  background-color: #0d6dfd93;
  border-radius: 10px;
}
.creditCard {
  width: 125px;
  height: 140px;
}
.creditCard:hover {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  cursor: pointer;
}

.creditCardImg {
  width: 65px;
  height: 45px;
}
.creditCardImg > img {
  object-fit: contain;
}

.credit-card-radio:checked + .credit-card-label > .creditCard {
  border: 1px solid #198754 !important;
}


@media (min-width: 320px) {
  .list-group-item {
    flex-wrap: nowrap;
  }
  .interestInput {
    width: 35% !important;
    max-width: 95px !important;
    flex-grow: 0;
    padding: 0;
  }
  
}


@media (min-width: 576px) {

}
@media (min-width: 768px) {    
  #containerCards {
    overflow-x: hidden;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}